section.projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section.projects div {
  display: flex;
  position: relative;
  flex-direction: row;
  font-size: smaller;
  align-items: center;
  gap: 24px;
}

section.projects em {
  display: block;
  position: relative;
  padding: 12px 0;
  color: gray;
  font-weight: 400;
}

section.projects h3 {
  white-space: nowrap;
}

section.projects p {
  flex: 1;
}

section.projects div.highlight {
  order: -1;
}

section.projects div.highlight em::after {
  content: "🏗️ Work in Progress!";
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 12px 0;
}

section.projects div.highlight,
section.projects div.highlight em::after {
  color: #00c5ff;
  font-weight: bolder;
}

section.projects div > a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
  font-size: smaller;
  color: #00c5ff;
  border: 4px outset #008de875;
  border-radius: 24px;
  align-items: center;
  overflow: hidden;
}

section.projects div > a:hover {
  transform: scale(1.125);
  opacity: 1;
  color: #008de8;
  border-color: #008de8;
}

section.projects object,
section.projects img {
  background-size: 9px 9px;
  background-image: linear-gradient(to right, #00c5ff33 1px, transparent 1px),
    linear-gradient(to bottom, #00c5ff33 1px, transparent 1px);
}

section.projects img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
  padding: 12.5px;
}

section.projects object {
  width: 175px;
  height: 250px;
  background-color: black;
  padding: 7.5px 0;
}

section.projects iframe {
  border: none;
  outline: none;
  filter: grayscale(50%);
  width: 400px;
  height: 615px;
  transform: scale(0.425);
  transform-origin: 1.5% -4%;
}
section.projects iframe:hover {
  filter: grayscale(0);
}

section.projects .animation:after {
  content: "🎞️ VIDEO";
  color: #008de8;
  background: transparent;
  border-radius: 0 0 50px 0;
  position: absolute;
  font-weight: 800;
  padding: 0 5px 0 1px;
  top: 0;
  left: 0;
}

section.projects .animation:hover:after {
  color: white;
  background: #008de8;
}

section.projects .animation img:first-child {
  display: block;
}

section.projects .animation img:last-child {
  display: none;
}

section.projects .animation:hover img:first-child {
  display: none;
}

section.projects .animation:hover img:last-child {
  display: block;
}

@media (max-width: 1200px) {
  section.projects div {
    flex-direction: column;
    gap: 0;
  }
  section.projects em {
    margin-top: -12px;
  }
}
