header {
  position: absolute;
  top: 8px;
  left: 24px;
  color: white;
}

footer {
  position: absolute;
  color: #ffa500;
  margin: 8px;
  font-size: 10px;
  bottom: 0;
  white-space: nowrap;
}

aside,
nav {
  position: fixed;
  border-radius: 24px;
  color: white;
  display: flex;
  gap: 24px;
  font-size: smaller;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  top: 0;
  right: 0;
  background: #303090;
  padding: 8px 24px;
}

aside {
  bottom: 3px;
  right: 18px;
  width: 25px;
  height: 25px;
  opacity: 0.5;
  border: 1px dashed #303090;
  align-items: center;
  justify-content: center;
}
aside:active,
aside:hover {
  opacity: 1;
}
aside:after {
  content: "🔍";
}
aside.shrink:active:after,
aside.shrink:hover:after {
  content: "➖";
  cursor: zoom-out;
}
aside.expand:active:after,
aside.expand:hover:after {
  content: "➕";
  cursor: zoom-in;
}

main {
  display: flex;
  height: 100vh;
}

figure {
  position: relative;
  flex: 1;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
}

article {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
}

article h2 {
  color: #ffa500;
}

article a {
  text-decoration: underline;
}

nav,
article > p,
article > h2,
article > section {
  margin: 18px 2.5vw;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  figure {
    flex: 0.5;
  }
  nav {
    opacity: 0.9;
  }
  aside {
    opacity: 0.5;
  }
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
    gap: 8px;
    padding: 8px 16px;
    top: 50px;
    right: 4px;
    text-align: center;
  }
}

/*
pink         ff4663
dark pink    e20058

yellow       ffc600
dark yellow  ffa500

blue         00c5ff
dark blue    008de8
*/
