header {
  position: absolute;
  top: 8px;
  left: 24px;
  color: white;
}

footer {
  position: absolute;
  color: #ffa500;
  margin: 8px;
  font-size: 9px;
  bottom: 0;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background: midnightblue;
  border-radius: 24px;
  color: white;
  padding: 8px 24px;
  display: flex;
  gap: 24px;
  font-size: smaller;
}

main {
  display: flex;
  height: 100vh;
}

figure {
  position: relative;
  flex: 1;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
}

article {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: justify;
}

article h2 {
  color: #ffa500;
}

article a {
  text-decoration: underline;
}

nav,
article > p,
article > h2,
article > section {
  margin: 18px 2.5vw;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  figure {
    flex: 0.5;
  }
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
    gap: 8px;
    padding: 8px 16px;
    top: 50px;
    text-align: center;
  }
}

/*
pink         ff4663
dark pink    e20058

yellow       ffc600
dark yellow  ffa500

blue         00c5ff
dark blue    008de8
*/
